$textColor: #0c0f16;
$backgroundColor: #fafbfc;
$primaryColor: #777777;
$secondColor: #e3e1e1;
$colorforMain: #f8f9fa;
$accentColor: #1565c0;

$mainFont : 'Barlow Condensed', sans-serif;
$baseFont : 'Poppins', sans-serif;
$headerFont: 'Montserrat', sans-serif;