@import '../common/styles/mixins';
@import '../common/styles/variables';

.layout {
  background-color: $backgroundColor;
  .container {
    @include container();
    @include flexStyle(column, flex-start, center);
    min-height: 100vh;
    position: relative;
  }
}
